.spaceBackground {
    width: 100vw;   
    height: 100vh;  
    object-fit: contain; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -2;
}

.maintab{
    position:absolute;
    left:0;
    z-index: 10;
}

.FirRec{
    position: absolute;
    top:17vh;
    left:30vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    width: 60vw; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    height:fit-content;

}

.SecRec{
    position: absolute;
    top:55vh;
    left:30vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    width: 60vw; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 

}

.pic
{
    width:3%;
}

.tags{
    display: flex;
    flex-direction: row;
}

.tag{
    margin-left: 30px;
    width: 100%;
    max-width: 500%;
}

.createdAt{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.time{
    margin-left: 20px;
}

.description{
    margin-top: 20px;
    position: relative;
    left:50%;
    top: -14vh;
}

.chatCard{
    border: 1px solid #000000;
    padding: 1rem;
    margin:10px; 
    width: 200px; 

}

.title{
    position:absolute;
    top:5vh;
    left:30vw;
    font-size: 3rem;
    font-weight: bold;
}

.cardtag{
    width: 1000%;
}