@import url('https://fonts.cdnfonts.com/css/cabin-3');
@import url('https://fonts.cdnfonts.com/css/lato');

.Start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%; 
  max-width: 1200px; 
  border-radius: 20px; 
  padding: 50px; 
  overflow: hidden; 
}

.Box{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  width: 45%; 
  margin: auto; 
  position: absolute;
  top:10%;
  right:5%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 50px;
  height: auto; 
  
}

.LoginInfo{
  display: flex;
  flex-direction: column;
  position: relative;
  left:20%;
  width: 100%;
  margin-bottom: 20px;
  line-height: 35px;
}

.Input{
  border: 2px solid #00000021; 
  outline: none; 
  padding: 6px 8px;
  border-radius: 4px; 
  box-shadow: none; 
  width: 80%;;
}

.StartTitle {
  font-size: 3rem; 
  color: black; 
  margin-bottom: 1rem;
  font-weight: bold;
  position: absolute;
  top:20%;
  left:15%;
  font-family: 'Cabin', sans-serif;                                      
}

.StartSubtitle {
  font-size: 2rem; 
  color: black; 
  margin: 2rem 0;
  left:20px;
  position: relative;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.Logo {
  left: 5%; 
  width: 30px; 
  position: absolute;
  top: 5%;
}

.StartPic {
  left: 15%;
  width: 350px; 
  position: absolute;
  bottom: 15%;
  z-index: -2;
}

.StartBackground {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  position: absolute;
}

.MsgIcon{
  width:7%;
  margin-bottom: 10px;
  left:20px;
  position: relative;
}

.RemAndFor{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px;
}

.ForgotPwd{
  position: relative;
  left:130px;
  color:#0A7D8D;
  font-size: 12px;
}

.LoginBtn{
  left:20px;
  position: relative;
}

.SignUp{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px;
  margin-top:20px;
  gap:100px;
  font-size: 12px;
  left:20px;
  position: relative;
}

.SignUpText{
  color:#0A7D8D;
}

@media (max-width: 768px) {
  .Start {
    flex-direction: column;
  }

  .StartPic, .Logo {
    display: none; 
  }
  }
