.modal{
    position: absolute;
    left:60vw;
    top: 10vh;
    z-index: 4;

}
.background{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    height: 85vh;
    width: 35vw;
    position: absolute;
    left:-7vw;
    z-index: 0;
}

@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/raleway');

.chatName {
    position: absolute;
    top:3vh;
    left:9vw;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

.promptText::placeholder{
    color:black;
}

.promptText{
    border-radius: 10px;
    border: 2px solid #001AFF;
    background-color: #eeeeee;
    display: flex;
    width: 400px;
    height: 40px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    display: flex;
    line-height: 35px;
    padding-left: 50px;
    position:absolute;
}

.promptPic{
    position:relative;
    z-index: 100;
    width: 30px;
    top:4.7vh;
    left:0.8vw;
}

.prompt{
    position: relative;
    top:8vh;
    left:2vw;
}

.regenBtn{
    position:relative;
    top:8vh;
    right:2vw;

}

.restrBtn{
    position:relative;
    top:8vh;
    left:2vw;
}

.responseTag{
    position: absolute;
    left: 2vw;
    top: 27vh;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.response{

    margin: auto; 
    display: flex; 
    flex-direction: column; 
    padding: 30px;
    height: auto; 
    position: absolute;
    top:32vh;
    left:2vw;
    font-family: 'Lato', sans-serif;
}

.download{
    position:relative;
    top:67vh;
    left: 10vw;
}

.maintab{
    position:absolute;
    left:0;
    z-index: 10;
}

