@import url('https://fonts.cdnfonts.com/css/abeezee');

.logoText{
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;         
}

.logo{
    display: flex;
    align-items: center; 
    gap: 0px;
}
