@import url("https://fonts.cdnfonts.com/css/abeezee");

.background {
  background-color: white;
  width: 25vw;
  height: 100vh;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: "white";
  overflow: scroll;
  padding: 20px;
  box-shadow: 3px -2px 11px 1px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 3px -2px 11px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 3px -2px 11px 1px rgba(0, 0, 0, 0.27);
  /* Adjust styling as needed */
}

.tab {
  /* ms */
}
.dashboard {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
}

.listing {
  margin-left: 3rem;
}

.space {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25%;
}

.dashboardTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 1rem; */
}

.chat {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
}

.tabpic {
  /* width: 50px; */
  margin: 0.5rem;
}

.logo {
  /* left: 5%; */
  width: 50px;
  margin-bottom: 4rem;
  /* position: absolute; */
  /* top: 2%; */
}

.chatList {
  left: 5%;
  width: 100px;
  position: absolute;
  top: 55%;
}

.chatItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add space between chat items */
}

.deleteButton {
  cursor: pointer;
  border: none;
  background-color: transparent; /* Make the button background transparent */
  display: flex;
  align-items: center;
  justify-content: center;
}
