@import url('https://fonts.cdnfonts.com/css/raleway-5');

.notConfirmedTask{
    display: flex;
    align-items: center;
    background-color: #0055FF26;
    border-radius: 22.5px;
    width:200px;
}

.notConfirmedPic{
    margin-right: 20px;
    width:25px;
}

.notConfirmedText{
    color:#16387c;
    font-family:'Raleway', sans-serif;
    font-weight: 700;

}

