@import url('https://fonts.cdnfonts.com/css/cabin-3');

.BtnTab{
    background-color: #F5F5F5;
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 67px;
    position:absolute;
    left:37.5%;
    top: 10%;
    
}

.Search{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    width: 55%; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 50px;
    height: auto; 
    position:absolute;
    top:50%;
    left: 23%;
    
}

.HomePrompt{

    border-radius: 10px;
    border: 2px solid #001AFF;
    background-color: #EEEEEE,0.9;
    display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    display: flex;
    line-height: 35px;
    padding-left: 50px;
    position:absolute;
    left:5%;

    
}
.SearchPic{
    position:absolute;
    top:36%;
    left:6.5%;
    z-index: 100;
    width: 30px;
}

.GenBtn{
    position: absolute;
    top:80%;
    left:40%;
}


.HomeBackground {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    position: absolute;
    }

.logo {
    left: 5%; 
    width: 30px; 
    position: absolute;
    top: 5%;
    }

