@import url('https://fonts.cdnfonts.com/css/abeezee');


.background{
    background-color: white;
    width: 25vw;
    height: 100vh;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
}

.dashboard{
    display: flex;
    align-items: center;
    position:absolute;
    top:15%

}

.space{
    display: flex;
    align-items: center;
    position:absolute;
    top:25%;
}

.chat{
    display: flex;
    align-items: center;
    position:absolute;
    top:50%
}

.tabpic{
    width:50px;
}

.logo {
    left: 5%; 
    width: 50px; 
    position: absolute;
    top: 2%;
    }


