@import url('https://fonts.cdnfonts.com/css/cabin-3');

.HelloUser{

    left:32.5%;
    top:30%;
    position:absolute;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Cabin', sans-serif;   
    font-style:normal;
}

.logo{
    position:absolute;
    right:5%;
    top:5%;
    color:red;
    z-index: 10;
}
