@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/raleway-5');

.logo {
    left: 5%; 
    width: 30px; 
    position: absolute;
    top: 5%;
    }

.maintab{
    position:absolute;
    left:0;
    z-index: 10;
}
.processBackground {
    width: 100vw;   
    height: 100vh;  
    object-fit: contain; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -2;
  }

.chatName {
    position: absolute;
    left: 50vw;
    top: 10vh;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

.promptText{
    border-radius: 10px;
    border: 2px solid #001AFF;
    background-color: #eeeeee;
    display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    display: flex;
    line-height: 35px;
    padding-left: 50px;
    position:absolute;
}

.promptText::placeholder{
    color:black;
}

.prompt{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    width: 55%; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 50px;
    height: auto; 
    position:absolute;
    top:20vh;
    left: 30vw;
}

.promptPic{
    position:absolute;
    top:36%;
    left:5vw;
    z-index: 100;
    width: 30px;
}

.taskTag{
    position: absolute;
    left: 48vw;
    top: 37vh;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.taskDes{
    position: absolute;
    left: 42vw;
    top: 45vh;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #35383e91;
}

.tasksList{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    width: 55%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 50px;
    height: auto; 
    position:absolute;
    top:25vw;
    left: 60vh;
}

.error{
    width:25px;
} 

.addTask{

    size:15px;
    font-weight:800;
    color:#35383EB3;
    width: 300px;
}

.submit{
    position: absolute;
    left: 57vw;
    top:90vh;
    width: 30px;
}
