.Input{
    border-bottom: 2px solid #00000021; 
    outline: none; 
    padding: 6px 8px;
    border-radius: 4px; 
    box-shadow: none; 
    width: 80%;;
    margin-bottom: 10px;
  }

.EyeIcon{
    position: relative;
    left: 75%;
    bottom: 47px;
    width: 5%;
}